* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --superlight: #f5e0d0;
  --light: #ffff;
  --dark: #080908;
}

main {
  width: 99vw;
  height: 116vh;
  background-color: var(--superlight);
}

main h1 {
  font-size: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5% 1% 5%;
}

.navigation-links ul {
  display: flex;
  list-style-type: none;
}

.navigation-links li a {
  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  margin: 0 20px;
}

.navigation-links .blog {
  border-bottom: 1px solid var(--dark);
}

.navigation-links li {
  padding: 0px 0 15px 0;
}

.headnav-link {
  padding: 0%;
}

.headnav-link li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.headnav-socials i {
  padding: 11px 0 0 30px;
}

.shopping-icon i {
  padding: 11px 0 0 50px;
  font-size: 20px;
}

.main-img img {
  background-image: ("../img/main-img.jpg");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  width: 45%;
  height: 95%;
  margin: 2% 0 0 5%;
  align-items: center;
}

.mainPage {
  margin: 4% 0 0 58%;
}

.row {
  display: flex;
}

.column1 {
  flex-basis: 79%;
}

.column1 h2 {
  margin: 25% 0 0 0;
}

.column1 h1 {
  margin: 8% 0 0 0;
  font-weight: 700;
  font-stretch: wider;
}

.background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  padding: 20px 20vw;
  background-color: var(--light);
  margin-bottom: 5%;
}

.background h1 {
  color: #f7a399;
  font-size: 40px;
  font-weight: 600;
  margin: 10% 0 4% 0;
}

.Dishes {
  margin-bottom: 4%;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
  align-items: center;
}

.row2::after {
  content: "";
  display: table;
  clear: both;
}

.column .dish1 {
  height: 71vh;
  width: 28vw;
  margin: 0 0 0 12%;
}

.column .dish2 {
  height: 40vh;
  width: 28vw;
  margin: 0 0 0 12%;
}

.column .dish3 {
  height: 81vh;
  width: 28vw;
  margin: 0 0 0 12%;
}

.column h3 {
  color: #636363;
  margin: 3% 0 3% 12%;
}

.column h1 {
  color: #f7a399;
  font-size: 30px;
  margin: 3% 0 3% 12%;
}

.column p {
  color: #636363;
  margin: 3% 0 3% 12%;
}

.readMore {
  margin: 3% 0 3% 12%;
  color: #f7a399;
  padding-bottom: 5px;
  font-size: 17px;
}

.column .dish4 {
  height: 80vh;
  width: 28vw;
  margin: -5% 0 0 12%;
}

.column .dish5 {
  height: 80vh;
  width: 28vw;
  margin: -50% 0 0 12%;
}

.column .dish6 {
  height: 80vh;
  width: 28vw;
  margin: 10% 0 0 12%;
}

.column .dish7 {
  height: 71vh;
  width: 28vw;
  margin: -5% 0 0 12%;
}

.column .dish8 {
  height: 85vh;
  width: 28vw;
  margin: -49% 0 0 12%;
}

.column .dish9 {
  height: 71vh;
  width: 28vw;
  margin: 10% 0 0 12%;
}

.Edition {
  width: 99vw;
  height: 116vh;
  background-color: var(--superlight);
}

.recipe-img img {
  background-image: ("../img/main-img.jpg");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  width: 45%;
  height: 85%;
  margin: 6% 0 0 4%;
  align-items: center;
}

.row3 {
  display: flex;
}

.column2 {
  flex-basis: 90%;
}

.column2 h1 {
  margin: 17% 0 0 65%;
  font-size: 45px;
}

.column2 p {
  margin: 2% 0 0 65%;
  font-size: 20px;
  width: 40%;
}

.column2 button {
  margin: 10% 0 0 65%;
  padding: 2%;
  width: 20%;
  background-color: #f7a399;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.column2 button:hover {
  background-color: #fdc5b5;
  transition: all 0.2s;
}

.SignUp {
  width: 99vw;
  height: 116vh;
  background-color: var(--superlight);
  position: relative;
  text-align: center;
  color: var(--light);
}

.SignUp img {
  width: 92%;
  height: 69%;
  filter: brightness(65%);
}

.SignUp .header {
  position: absolute;
  top: 22%;
  left: 40%;
  font-size: 50px;
  font-weight: 600;
}

.SignUp .paragraph {
  position: absolute;
  top: 29%;
  left: 37%;
  font-size: 20px;
}

.SignUp .input-group {
  position: absolute;
  top: 35%;
  left: 38%;
}
.SignUp .input-group input {
  height: 70px;
  width: 15vw;
  border: none;
  color: #636363;
  padding-left: 5%;
  font-size: large;
}

.SignUp .input-group input:focus {
  outline: 3px solid var(--superlight);
}

.SignUp .input-group button {
  height: 68px;
  width: 8vw;
  font-size: 19px;
  font-weight: 600;
  color: var(--light);
  background-color: #f38375;
  border: none;
}

.SignUp .input-group button:hover {
  opacity: 80%;
  transition: all 0.2s;
}

.footer-socials {
  margin: 7% 46% 3% 46%;
  display: flex;
  justify-content: space-evenly;
}

.footer-socials i {
  font-size: 25px;
  color: var(--dark);
}

.footer {
  color: var(--dark);
}

.footer h4 {
  margin-bottom: 25px;
}

.footer h4 span {
  color: #f38375;
}
